/* From big tablets to 1200px (widths smaller than the 1140px 'row' css selector)*/
@media only screen and (max-width: 1200px){
	.hero-text-box {
		width: 100%;
		padding: 0 2%;
	}

	.row{ padding: 0 2%; }

	body{ font-size: 19px; }
} 

/* Small tablets to big tablets: from 768(iPad in portrait) to 1023px */
@media only screen and (max-width: 1023px){
	body {font-size: 18px;}
	section {padding : 60px 0;} 
	.long-copy {
		width: 80%;
		margin-left: 10%;
	}

	.step-box { margin-top: 10px;  }
	.step-box:last-child { margin-top: 10px;  }
	.works-steps { margin-bottom: 40px; }
	.works-steps:last-of-type { margin-bottom: 60px; }

	.app-screen {
		width: 50%;
	}	

	.btn-app img {
		height: 46px;
	}
	
	.city-feature { font-size: 90%; }
	.icon-small { 
		font-size: 100%;
		margin-right: -9px;
		margin-left: -7px;
	}

	.plan-box {
		width: 100%;
		margin-left: 0;
	}

	.plan-price { font-size: 250%; }
	.plan-box ul li { font-size: 90%; }

	.contact-form { width: 80%; }	
} 

/* Small phones to small tablets:from 481-767 px*/
@media only screen and (max-width: 767px){

	body { font-size: 16px;	}
	section { padding: 30px 0; }
	.row, .hero-text-box{ padding: 0 4%; }
	.col {
	 	width: 100%;
	 	margin: 0 0 4% 0;
	}
	.main-nav {display: none;}
	.long-copy {
		width: 100% ;
		margin-left: 0%;
	}
	h1{ font-size: 180%; }
	h2{ font-size: 150%; }

	.works-steps { margin-bottom: 20px; }
	.works-steps:last-of-type { margin-bottom: 20px; }

	.works-steps div {
	 	height: 40px;
	 	width: 40px;
	 	padding: 4px;
	 	padding-top: 3px;
	 	margin-right: 15px;
	 	font-size: 137%;
	 }

	 .step-box:first-child{ text-align: center; }
	 .app-screen { width: 40%; }

	 footer .row {
	 	width: 100%;
		margin: 0px 0px 10px 0px;
	 }
} 

/* Small phones: from 0 to 480px*/
@media only screen and (max-width: 480px){
	section {
		padding: 25px 0;
	}
}